name = "wignerd"
version = "1.0.3"
license = "MIT"
author = "Josh Forer"
maintainer = "j.forer@posteo.net"
copyright = "2025 Josh Forer"
description = "Provides routines to return the Wigner matrices D(α,β,γ) and d(β)"
keywords = [ "Wigner", "D", "matrix", "matrices" ]

[library]
source-dir = "src"

[build]
link = ["lapack"]

[dependencies]
stdlib = "*"

[dev-dependencies]
test-drive.git = "https://github.com/fortran-lang/test-drive"
test-drive.tag = "v0.5.0"

[test]
name="tests"
source-dir="test"
main="tester.f"

[fortran]
implicit-typing = false
implicit-external = false
source-form = "free"

[preprocess]
[preprocess.cpp]
suffixes = [".f"]
